{{ include('_head.twig') }}
<div class="system">
    <h2>Pokémon not found.</h2>
    <p>Check that you didn't misspell the name. It's also possible a sheet for this Pokémon doesn't exist yet.</p>
</div>
{{ include('_foot.twig') }}
