{{ include('_head.twig') }}
<style>
    @media only screen and (max-width: 1000px) {
        .sheet-wrapper {
            background-image: url("/assets/bg/gen{{ pokemon['gen'] }}/page1.jpg");
        }
    }
</style>
<div class="sheet-wrapper">
    {{ content|raw }}
</div>
{{ include('_foot.twig') }}
