<div class="footer">
    <div class="pagenum">{{ page_num }}</div>
    <div class="artist"><strong>Pictures drawn by: <a href="{{ pokemon['artist_link'] }}">{{ pokemon['artist'] }}</a></strong></div>
</div>
